<?xml version="1.0" encoding="utf-8"?>
<Preferences MachineIdentifier="fff9a771-49c9-47f4-89a9-2ab3b18384db" ProcessedMachineIdentifier="b6e9a489104c050434af1274e9cedba885a70036" AnonymousMachineIdentifier="a766cb42-921d-4b49-9a82-71a6bc979946" agentAutoEnabled.com.plexapp.ag
ents.lastfm.Artists.com.plexapp.agents.vevo="1" agentAutoEnabled.com.plexapp.agents.lastfm.Albums.com.plexapp.agents.lyricfind="1" agentAutoEnabled.com.plexapp.agents.plexmusic.Albums.com.plexapp.agents.lyricfind="1" MetricsEpoch="1" Acce
ptedEULA="1" PlexOnlineMail="{{ plex_mail }}" PlexOnlineToken="{{ plex_token }}" PlexOnlineUsername="{{ plex_username }}" CertificateVersion="2" PublishServerOnPlexOnlineKey="1" PubSubServerPing="26" LastAutomaticMappedPort="23251"/>
+<Preferences MachineIdentifier="f090c421-36ec-4538-8e50-79edd3535920" ProcessedMachineIdentifier="e6f296f01c5586eae489dc23104cbb960529301d" AnonymousMachineIdentifier="93c4cda9-98f7-4ed7-8e90-2e737a085c50" MetricsEpoch="1" GracenoteUser=
"WEcxA7ognBNE0znIAwp+4V9V2aKfMMCGtyUWreRlLpJ9v/i5M8xTk+Ox/yYWDhR6+fZFG4CS+lnBiKDxzCUKrQPk8d23WtdEFU5lOepN23hwWy0o07lW/EluPzfWGsLjDiTDaMvUdCoFFGFD/Ek/ONN9TBK5b1YDCxAWNiZz2eJsaR+yem+Jg8hPdendBIsOjQZNIg==" AcceptedEULA="1" PlexOnlineMail="wi
jnand@vdeute.com" PlexOnlineToken="UhAoNwknQDnb37PpwjTQ" PlexOnlineUsername="wijnand" CertificateVersion="2" PublishServerOnPlexOnlineKey="1" LastAutomaticMappedPort="23251" PubSubServerPing="11.342599999999999" PubSubServer="82.94.168.12
" FSEventLibraryUpdatesEnabled="1" GenerateBIFBehavior="scheduled" ScheduledLibraryUpdatesEnabled="1" LanguageInCloud="1"/>
