<Config>
  <Port>{{ sonarr_port_internal }}</Port>
  <UrlBase>
  </UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>{{ sonarr_api_token }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LogLevel>Info</LogLevel>
  <Branch>master</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash>
  </SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>
